# ide
.settings
.buildpath
.idea
.localized

# osx
.DS_Store
Icon
.dropbox

# vim
*.sw[po]
*.vimsession
.sessions
*.vimrc

# python
*.pyc
.virtualenv
.site-packages

# ctags
tags
.ctags

# nfs
.nfs*

# sass
.sass-cache

# jshint
.jshintrc
.jshintreporter

# ack
.ackrc

# vagrant
.vagrant
