[user]
	name = Artem Nezvigin
	email = artem@artnez.com
[core]
	excludesfile = ~/.gitignore
[diff]
    tool = vimdiff
[color]
	ui = true
    branch = always
    diff = always
    status = always
[alias]
    st = status
    co = checkout
    vlog = log --graph --date-order --date=relative --pretty=format:'%C(cyan)%h: %Cblue - %an - %Cgreen %C(cyan)%ar:%Creset%n%s%n' --color
    info = !git branch && echo && git status && echo && git log -n2
    tags = "!git tag | python -c 'import sys; lines=map(str.strip, list(sys.stdin)); lines.sort(key=lambda s: map(int, s.split(\".\"))); print str.join(\"\\n\", lines);' -"
    msg = "!git log -n1 --format='%B' | php -r 'echo trim(file_get_contents(\"php://stdin\")) . \"\\n\";'"
